@import url(https://fonts.googleapis.com/css?family=Montserrat);




* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	 outline: none;
}
a:focus,
a:active {
	 outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}

html,
body {
	height: 100%;
	line-height: 1;

	text-rendering: optimizeLegibility;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-size: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
	background-color: inherit;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

.App {
  background: #f5f5f5;
  width: 100vw;
  height: 100%;
  display: grid;
  place-items: center;
}

body {
  margin: 0%;
  padding: 0%;
  font-family: montserrat, arial, verdana;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex: 0.2 100%;
  justify-content: center;
  margin: 50px 5px 0px 50px;
}

.form .form-container-step,
.form .form-container {
  padding: 10px 20px;
}

.form-container {
  width: 650px;
  margin: 0 0 0 50px;
  padding: 30px 30px;
  max-height: 1200px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
}

.form-container-step {
  width: 250px;
  padding: 30px 30px;
  max-height: 300px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
}

.form-container .header {
  flex: 20%;
  display: grid;
  place-items: center;
}

.form-container .body {
  flex: 60%;
}

.form-container .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
}

.form-container .footer button {
  border-radius: 7px;
  width: 100%;
  height: 70px;
  background-color: #77c977;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  margin: 5px;
}

.sign-up-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sign-up-container h1 {
  display: flex;
  align-items: center;
  font-size: 25px;
}
.sign-up-container ul {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  justify-content: center;
  margin: 50px 0px 50px 0px;
  
}

.sign-up-container li {
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  line-height: 30px;
  font-size: 17px;
  font-weight: 600;
}

.sign-up-container span{
  color: #77c977;
}

.item-photo{
  width: 580px;
  margin: 15px auto;
  height: 398px;
  z-index: 5;
  
}
.ibg{
  position: relative;
}
.ibg img {
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
        object-fit: cover;
}

.sign-up-container-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
.sign-up-container-items div{
  display: flex;
  flex: 1 50%;
  padding: 5px;
}

/* .sign-up-container input {
  margin: 5px;
  width: 200px;
  height: 40px;
  padding-left: 5px;
  font-size: 20px;
} */

.personal-info-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.personal-info-container input {
  margin: 5px;
  width: 200px;
  height: 40px;
  padding-left: 5px;
  font-size: 20px;
}

/* PROGRESS BAR */
.progressbar {
  width: 200px;
  height: 10px;
  background-color: white;
  margin-bottom: 50px;
}

.progressbar div {
  width: 16.33%;
  height: 100%;
  background-color: #77c977;
  border-radius: 4px;
}
.step-by-step button {
  display: flex;
}

.step-by-step span{
  display: none;
}

.item-city{
  margin: 10px;
}

.other-info-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.other-info-container input {
  margin: 5px;
  width: 200px;
  height: 40px;
  padding-left: 5px;
  font-size: 20px;
}

input {
  border: 2px solid rgb(98, 0, 255);
  border-radius: 5px;
}

input:focus {
  border: 3px solid rgb(98, 0, 255);
}
.rate {
  margin: 0px 0px 50px 0px;
}
.rate h1{
  font-size: 25px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  padding: 50px 0px 0px 0px;
}

.rate h4{
  font-size: 15px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  padding: 50px 0px 0px 0px;
}
